/* src/components/header/header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__logo {
  text-decoration: none;
  /* margin-right: 10px; */ /* Отступ между логотипом и кнопкой "Главная" */
  background-image: url(../../assets/logo2.png);
  width: 100px; /* Размер логотипа */
  height: 37px; /* Размер логотипа */
  transition: transform 0.3s ease; /* Анимация при наведении */
}

.header__logo:hover {
  transform: scale(1.1); /* Увеличение изображения при наведении */
}


.header__nav-left {
  display: flex;
  gap: 20px;
}

.header__link {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__link:hover {
  background-color: #007bff;
  color: white;
}

.header__link--active {
  background-color: #007bff;
  color: white;
}

.header__auth {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__auth-button {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header__auth-button:hover {
  background-color: #0056b3;
}

.header__user {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.header__logout {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__logout:hover {
  background-color: #bd2130;
}